<!-- templates/song_detail.html -->
{% include 'header.html' %}
<div class="main container">
    <div class="header1 text-center mb-3">
        <h2>{{ song.title }}</h2>
        <h3>{{ song.artist }}</h3>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <a href="{{ url_for('edit_song', song_id=song.id) }}" class="btn btn-primary me-2">Edit Song</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete Song</button>
    </div>
    <!-- Confirmation Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form method="POST" action="{{ url_for('delete_song', song_id=song.id) }}" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete Song</button>
                </form>
            </form>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="main-content">
        <div class="d-flex justify-content-evenly mb-3 flex-wrap">
            <button type="button" class="btn btn-outline-success btn-sm" onclick="transposeChords('-')">Transpose -1</button>
            <div id="transposition-count">0</div>
            <button type="button" class="btn btn-outline-success btn-sm" onclick="transposeChords('+')">Transpose +1</button>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="chordNotationSwitch">
                <label class="form-check-label" for="chordNotationSwitch"> &#x266D or #</label>
              </div>

            <button type="button" class="btn btn-outline-info btn-sm" onclick="changeFontSize(-1)">Decrease Font Size</button>
            <button type="button" class="btn btn-outline-info btn-sm" onclick="changeFontSize(1)">Increase Font Size</button>
        </div>
        
        <pre class="lyrics-container" id="lyrics">{{ song.lyrics_chords | safe }}</pre>
    </div>
</div>
{% include 'footer.html' %}
